body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}
h1 {
	color: #ffffff;
}

label {
	color: 000000;
}

img {
	display: block;
}
#titleBar {
	padding-left: 30px;
	padding-top: 60px;
	padding-bottom: 20px;
	background-color: #00838F;
}

#information {
	background-color: #0097a7;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: 000000;
	font-size: 18px;
}

#searchBar label {
	color: #ffffff;
}


#searchBar label, #searchBar #SearchValue {
	margin-right: 20px;
}

#searchBar {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #00ACC1;
	font-size: 18px;
}


#mealList {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	background-color: #E0F7FA;
}

#meals {
	padding-left: 10px;
	padding-right: 10px;
}

#mealList #title h2 {
	color: 000000;
}

.foodImage {
	float: left;
	padding: 8px;
	margin-left: 12px;
}

.mealContents {
	float: left;
}

.description {
	padding: 25px;
	font-size: 16px;
	float: left;
	width: 350px;
}

.mealContents {
	overflow: hidden;
}

.mealContents input {
	margin-left: 16px;
	margin-right: 8px;
}

ul {
	list-style-type: none;
}
li {
	padding-bottom: 8px;
}
.someImage {
	float: left;
}

.someLabel {
	float: left;
}

.mealLabel {
	padding-left: 10px;
	background-color: #00ACC1;
}

.mealBorder {
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline-block;
	width: 100%;
	background-color: #ffffff;
}

 .mealLabel  {
	padding-top: 8px;
	padding-bottom: 4px;
	font-size: 18px; 
}

.mealLabel a {
	color: #ffffff;
}