extends layout

block content
  #titleBar
    h1= title
  
  #information
    p Welcome to #{title}
    p Meal-to-List is a free service to find meals and send the ingredients into a Todoist shopping list.
    p Enter a food item below to get started.
  
  div(id="searchBar" class="row")
    div(class="col-md-1")
      label(class="center") Search:
    input(type="text" id="SearchValue" class="form-control col-md-12")
    input(type="submit" value="Search" id="SearchSubmit" class="btn btn-default")

  #mealList
    #title
      h2= "Meal List"
    div(id="meals")
      div(class="container-fluid")
        
  div(id="login")
    h3="Todoist Login"
    div(id="form")
      div(class="row")
        label Email:
        input(type="email" id="email" class="col-md-2 form-control")
      div(class="row")
        label Password:
        input(type="password" id="password" class="col-md-2 form-control")
      div(class="row")
        label List Name
        input(type="text" id="ListName" class="col-md-2 form-control")
      div(class="row")
        input(type="submit" id="add" value="Add Ingredients!" class="col-md=2 btn btn-default")      
  br