extends layout

block content
  #titleBar
    h1= title
  
  #information
    p Welcome to #{title}
    p Meal-to-List is a free service to find meals and send the ingredients into a Todoist shopping list.
    p Enter a food item below to get started.
  
  #searchBar
    label Search:
    input(type="text" id="SearchValue")
    input(type="submit" value="Search" id="SearchSubmit")

  #mealList
    #title
      h2= "Meal List"
    div(id="meals")
      div(class="row")
        
  div(id="login")
    h3="Todoist Login"
    div(id="form")
      div(class="row")
        label(class="col-md-1") Email:
        input(type="text" id="email" class="col-md-2")
      div(class="row")
        label(for="password" class="col-md-1") Password:
        input(type="password" id="password" class="col-md-2")
      div(class="row")
        label(for="ListName" class="col-md-1") List Name
        input(type="text" id="ListName" class="col-md-2")
      div(class="row")
        label(class="col-md-1")
        input(type="submit" id="add" value="Add Ingredients!" class="col-md=2")      
  br